body {
  /* background-color: blanchedalmond;
     */
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}

.box {
  height: 92vh;
  
  margin: 19px;

  /*
 for  nurphisum 
  border-radius: 12px;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3); */
 
}
.nav {
  /* background:rgb(54, 56, 223); */
  display: flex;
  /* justify-content: center; */
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  /* margin: 0px 10px; */
  border: 0px 0px 1px 0px solid red;
}

.nav ul {
  color: rgb(173, 164, 164);
}
.iin {
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  background: none;

  /* box-shadow: 10px 7px 11px 0px red; */
}

.nav li a {
  color: black;
  text-decoration: none;
  font-size: 3vw;
  padding: 5px;
  margin: 0px 5px;
}

.nav li {
  display: inline;
  text-transform: capitalize;
  padding: 5px;
}
.nav li a:hover {
  border: 1px solid #fff;
  padding: 5px;
  border-radius: 11px;
  box-shadow: 9px 9px 16px rgba(189, 189, 189, 0.6),
    -9px -9px 16px rgba(255, 255, 255, 0.5);
}

.leftt {
  margin: 0px 10px;
  /* border: 3px solid blue; */
  display: flex;
  align-content: center;
  /* flex-wrap: wrap; */
  padding: 5px;
  border-radius: 10px;
  box-shadow: inset 10px 10px 15px -10px #c3c3c3,
    inset -10px -10px 15px -10px #ffffff;
}

.leftt:hover {
  cursor: pointer;
}
.search_area {
  border: 1px solid #fff;
  background-color: #f6f5f087;
  border-radius: 15px;
  padding: 8px;
  width: 30vw;
  padding: 5px 11px;
  margin-right: 1vw;

  box-shadow: 9px 9px 16px rgba(189, 189, 189, 0.6),
    -9px -9px 16px rgba(255, 255, 255, 0.5);
}

.iin:active {
  border: none;
}

.cointainer {
  margin: 1vw;
  margin-left: 20px;
  /* border: 1px solid #fff; */
  display: flex;
  flex-wrap: wrap;
}

.ite hr {
  width: 88%;
}

.ite i {
  border: 1px solid #fff;
  border-radius: 24px;
  padding: 6px;
  box-shadow: 9px 9px 16px rgb(189 189 189 / 60%),
    -9px -9px 16px rgb(255 255 255 / 50%);
}
i:hover {
  transform: scale(1.4);
}
.ite:hover {
  transform: scale(1.03);
  background-color: #f0f0f063;
}
.ite {
  width: 30%;
  margin: 10px;
  padding-left: 5px;

  box-shadow: 9px 9px 16px rgba(189, 189, 189, 0.6),
    -9px -9px 16px rgba(255, 255, 255, 0.5);
    /* backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter:blur(16px) saturate(180%); */
    background-color: rgba(255, 255, 255, 0.35);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
}

.fle {
  display: flex;
}

/* .user h3 {
    margin: 0px;

} */

.name {
  margin-top: 14%;
  border: 1px solid #fff;
  border-radius: 8px;
  box-shadow: 9px 9px 16px rgba(189, 189, 189, 0.6),
    -9px -9px 16px rgba(255, 255, 255, 0.5);
    padding: 8px;

}
.user {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.morede {
  margin-top: 42px;
  height: 28vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-evenly;
}
.iconss {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 20px;
}


@media (max-width: 892px) {
    .box {
      height: 98%;
    }
    .ite{
        width: 78%;
    }
    .cointainer{
        justify-content: center;

    }
  }
  

  @media (max-width: 700px) {
    .search_area {
      display: block;
      width: 90%;
      margin: auto;
    }
    .nav {
      justify-content: center;
    }
  
    .nav ui {
      padding: 0px;
    }
    .nav li a {
      font-size: 3vh;
    }
  
    .ite {
      width: 78%;
    }
    .cointainer {
      flex-direction: column;
      align-content: space-around;
      justify-content: center;

      margin: 0px;
    }
  }
 